.landing_menu_item input[type=button] {
	color: #ffffff;
	font-size:12pt;
	font-weight: bold;
	background: #EB9C3F;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	text-transform: uppercase;
}

.landing_menu_item input[type=button]:hover {
	 background: #EB9C3F;
	 background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	 background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	 background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	 background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	 background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	 text-decoration: none;
}

.landing_header {
    display: grid;
    grid-auto-columns: 220px;
    grid-auto-flow: column ;
    grid-column-gap: 20px;
}

.landing_menu_item {
	font-size:12pt;
	font-weight: bold;
	text-decoration: none;
	justify-self: center;
	align-self: center;
	color: #388175;
}

A.landing_menu_item {
	text-transform: uppercase;
}

A.landing_menu_item:hover {
	color: #EB9C3F;
}    
